
    <title>{{ .Site.Title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.profile.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
    <!-- Theme SCSS -->
    {{ $themeStyle := resources.Get "scss/devresume.scss" | resources.ExecuteAsTemplate "scss/devresume.scss" . | toCSS }}
    {{ $customStyle := resources.Get "scss/main.scss" | toCSS }}
    {{ $style := slice $themeStyle $customStyle | resources.Concat "assets/css/bundle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/images/{{ .Site.Params.profile.avatar }}" />
    <meta property="og:description" content="{{ .Site.Params.profile.description }}" />

    <!-- Add GA4 support -->
    {{ template "_internal/google_analytics.html" . }}